#message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

  width: 42rem;
  height: 42.2rem;
  margin: 0 auto;

  padding: 2.8rem 6rem 4rem;
  background: #202024;
  border: 0.1rem solid #323238;
  border-radius: 0.6rem;
}

#message button {
  width: 15rem;
  margin-top: 0.8rem;
}

#message h1 {
  /* font-weight: 600; */
  font-size: 2rem;
}
